@page
@model GolfClub.Pages.Booking.BookingsForMemberModel
@{
    ViewData["Title"] = "Bookings for Member";
}


@if (Model.Bookings != null && Model.Bookings.Any())
{
    <h3 class="text-center">Bookings:</h3>
    <a asp-page="../Golfer/Index" class="btn btn-secondary">Back to List</a>
    <div class="row my-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-bordered border-primary tabble-striped">
                <thead class="table-primary">
                    <tr>
                        <th>Tee Time</th>
                        <th>Player 1</th>
                        <th>Player 2</th>
                        <th>Player 3</th>
                        <th>Player 4</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach (var booking in Model.Bookings)
                    {
                        <tr>
                            <td>@booking.TeeTime</td>
                            <td>@booking.Player1.EmailAddress</td>
                            <td>@booking.Player2.EmailAddress</td>
                            <td>@booking.Player3.EmailAddress</td>
                            <td>@booking.Player4.EmailAddress</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    
}
else
{
    TempData["error"] = "Member has no booking";
    <a asp-page="../Golfer/Index" class="btn btn-secondary">Back to List</a>
}
