@page
@model GolfClub.Pages.Golfer.IndexModel
@using GolfClub.Utilities

@{
    ViewData["Title"] = "Golfers";
}

<p>
    <a asp-page="/Golfer/create" class="btn btn-outline-success">Create New</a>
</p>
<div class="row my-5">
    <div class="col-md-2"></div>
    <div class="col-md-8 alert alert-primary" style="white-space:nowrap">

        <form method="get">
            <fieldset>
                <div class="row my-3">
                    <div class="col-md-2">
                        <label for="GenderFilter" class="form-label mt-4">Gender:</label>
                        <select id="GenderFilter" name="GenderFilter" asp-for="GenderFilter" class="form-select">
                            <option value="">All</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="HandicapFilter" class="form-label mt-4">Handicap:</label>
                        <input type="number" id="HandicapFilter" name="HandicapFilter" asp-for="HandicapFilter" class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <label for="HandicapMin" class="form-label mt-4">Min(Handicap):</label>
                        <input type="number" id="HandicapMin" name="HandicapMin" asp-for="HandicapMin" class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <label for="HandicapMax" class="form-label mt-4">Max(Handicap):</label>
                        <input type="number" id="HandicapMax" name="HandicapMax" asp-for="HandicapMax" class="form-control" />
                    </div>

                    <div class="col-md-2">
                        <label for="SortBy" class="form-label mt-4">Sort By:</label>
                        <select id="SortBy" name="SortBy" asp-for="SortBy" class="form-select">
                            <option value="Name">Name</option>
                            <option value="Handicap">Handicap</option>
                        </select>
                    </div>

                    <div class="col-md-2 form-check">
                        <label for="SortDescending" class="form-label">Descending:</label>
                        <input type="checkbox" id="SortDescending" name="SortDescending" asp-for="SortDescending" class="form-check-input" />

                    </div>

                </div>
                <div class="row my-3">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-secondary">Apply Filters</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </fieldset>
        </form>


    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered border-primary table-striped">
            <thead class="table-primary">
                <tr>
                    <th>
                        <a asp-page="./Index" asp-route-sortBy="FirstName" asp-route-sortDescending="@(Model.SortBy == "FirstName" ? !Model.SortDescending : false)" style="color:white;">First Name</a>
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortBy="LastName" asp-route-sortDescending="@(Model.SortBy == "LastName" ? !Model.SortDescending : false)" style="color:white;">Last Name</a>
                    </th>
                    <th>
                        <a asp-page="./Index" style="color:white;">Email Address</a>
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortBy="Handicap" asp-route-sortDescending="@(Model.SortBy == "Handicap" ? !Model.SortDescending : false)" style="color:white;">Handicap</a>
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortBy="Gender" asp-route-sortDescending="@(Model.SortBy == "Gender" ? !Model.SortDescending : false)" style="color:white;">Gender</a>
                    </th>
                    <th rowspan="4" class="text-center">Actions</th>
                    
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var item in Model.Golfers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Handicap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            <a asp-page="/Golfer/Edit" asp-route-id="@item.Id" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </a>
                            <a asp-page="/Golfer/Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-page="/Golfer/Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </a>
                            <a asp-page="/Booking/BookingsForMember" class="btn btn-outline-warning" asp-route-id="@item.Id">Bookings</a>
                        </td>
                       

                    </tr>
                }
            </tbody>
        </table>
        <hr />
         @* adding pagination *@
        <div class="pagination">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (Model.Golfers.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.Golfers.PageIndex - 1)">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.Golfers.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.Golfers.PageIndex ? "active" : "")">
                            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@i">@i</a>
                        </li>
                    }

                    @if (Model.Golfers.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.Golfers.PageIndex + 1)">Next</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>
